.wp-block-image figcaption {
  color: #7d7d7d;
  text-align: right;
  font-size: .75rem;
  font-style: italic;
}

.list-item {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.list-item__title {
  margin-bottom: 15px;
  font-weight: 700;
}

.list-item__image img {
  width: 100%;
  height: 350px;
  border-radius: 4px;
  object-fit: cover;
}

.img-box__title {
  margin-bottom: 12px;
}

.img-box__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.img-box__img {
  margin: 5px 0 16px;
}

.img-box__img img {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .img-box__align--right,.img-box__align--left {
    flex-direction: row;
  }

  .img-box__align--right .img-box__img,.img-box__align--left .img-box__img {
    margin-bottom: 0;
  }

  .img-box__align--right .img-box__img img,.img-box__align--left .img-box__img img {
    width: 200px;
    height: 175px;
    object-fit: cover;
  }

  .img-box__align--right .img-box__content,.img-box__align--left .img-box__content {
    flex: 1;
  }

  .img-box__align--left .img-box__img {
    margin-right: 16px;
  }

  .img-box__align--right .img-box__img {
    order: 2;
    margin-left: 16px;
  }

  .img-box__align--right .img-box__content {
    order: 1;
  }
}

@media (max-width: 575px) {
  .list-item__image img {
    height: 300px;
  }
}
