body {
  color: #4A4A4A;
  font-family: "Asap",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: "Lato";
  font-weight: 700;
}

a {
  transition: all 0.3s ease-in-out;
}

hr {
  border-top: 1px solid #e6e9ee;
}

.site-wrapper {
  min-width: 320px;
  overflow: hidden;
}

.text-danger {
  color: #E63946 !important;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.section-title:after {
  content: "";
  display: block;
  height: 3px;
  width: 120px;
  border-radius: 30px;
  background-color: #ec6670;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-title--centered {
  text-align: center;
}

.section-title--centered:after {
  width: 95px;
  left: 50%;
  transform: translateX(-50%);
}

[class^="icon-"],[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e912";
}

.icon-hot:before {
  content: "\e90d";
}

.icon-time:before {
  content: "\e90c";
}

.icon-arrow-right:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-reddit:before {
  content: "\e910";
}

.icon-quote-left:before {
  content: "\e90e";
}

.icon-flash:before {
  content: "\e90b";
}

.icon-search:before {
  content: "\e902";
}

.icon-link:before {
  content: "\e90f";
}

.icon-star-full:before {
  content: "\e903";
}

.icon-play:before {
  content: "\e904";
}

.icon-youtube:before {
  content: "\e905";
}

.icon-tumblr:before {
  content: "\e906";
}

.icon-feed:before {
  content: "\e907";
}

.icon-twitter:before {
  content: "\e908";
}

.icon-instagram:before {
  content: "\e909";
}

.icon-facebook:before {
  content: "\e90a";
}

.header {
  padding: 100px 0 0;
}

.navbar-brand img {
  height: 40px;
}

.navbar.bg-dark {
  background-color: #2B2D42 !important;
}

.navbar .nav-link {
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler[aria-expanded="true"] {
  background-color: #171823;
}

.navbar-nav .dropdown-menu {
  margin-top: -1px;
  background-color: #2B2D42;
  border-radius: 0;
  border: 0;
  padding: 0;
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: #FFF;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border-top: 1px solid #4A4A4A;
}

.navbar-nav .dropdown-menu .dropdown-item:first-child {
  border-top: 0;
}

.navbar-nav .dropdown-menu .dropdown-item:hover,.navbar-nav .dropdown-menu .dropdown-item:focus {
  background-color: #242424;
}

.navbar-collapse {
  position: relative;
}

.sidebar-widget {
  margin-bottom: 30px;
}

.sidebar__social__item {
  color: #FFF;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 4px 0;
  border-radius: 2px;
}

.sidebar__social__item:hover,.sidebar__social__item:focus {
  text-decoration: none;
  color: #FFF;
}

.sidebar__social__item:before {
  content: "";
  font-family: "icomoon";
}

.sidebar__social__item.facebook {
  background-color: #3b5998;
}

.sidebar__social__item.facebook:before {
  content: "\e90a";
}

.sidebar__social__item.twitter {
  background-color: #1da1f2;
}

.sidebar__social__item.twitter:before {
  content: "\e908";
}

.sidebar__social__item.instagram {
  background-color: #fd1d1d;
}

.sidebar__social__item.instagram:before {
  content: "\e909";
}

.sidebar__social__item.youtube {
  background-color: #ff0000;
}

.sidebar__social__item.youtube:before {
  content: "\e905";
}

.sidebar__social__item.tumblr {
  background-color: #35465c;
}

.sidebar__social__item.tumblr:before {
  content: "\e906";
}

.sidebar__title {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.sidebar__title:before,.sidebar__title:after {
  content: "";
  display: block;
  height: 3px;
  border-radius: 30px;
  background-color: #E8E8E8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar__title:before {
  width: 120px;
  background-color: #ec6670;
  z-index: 1;
}

.sidebar .nav-tabs {
  margin-bottom: 15px;
}

.sidebar .nav-tabs .nav-item {
  margin-bottom: 0;
  width: 50%;
}

.sidebar .nav-tabs .nav-item .nav-link {
  color: #7d7d7d;
  border: 0;
  font-weight: 600;
  position: relative;
  text-align: center;
}

.sidebar .nav-tabs .nav-item .nav-link:before {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
  margin-top: -4px;
}

.sidebar .nav-tabs .nav-item .nav-link.active {
  color: #4A4A4A;
}

.sidebar .nav-tabs .nav-item .nav-link.active:after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ec6670;
}

.sidebar .nav-tabs .nav-item .nav-link[href="#popular"]:before {
  content: "\e90d";
  font-family: "icomoon";
}

.sidebar .nav-tabs .nav-item .nav-link[href="#recent"]:before {
  content: "\e90c";
  font-family: "icomoon";
}

.sidebar-review-box {
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  overflow: hidden;
}

.sidebar-review-box__ratings {
  padding: 30px;
  background-color: rgba(230,57,70,0.8);
  text-align: center;
}

.sidebar-review-box__ratings__num,.sidebar-review-box__ratings__text {
  display: block;
  color: #FFF;
}

.sidebar-review-box__ratings__num {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.1rem;
}

.sidebar-review-box__ratings__text {
  font-size: 0.875rem;
  font-style: italic;
}

.sidebar-review-box__ratings__star {
  font-size: 1.2rem;
}

.sidebar-review-box__text {
  padding: 15px;
  color: #FFF;
  font-size: 0.875rem;
  background-color: #4A4A4A;
}

.sidebar-review-box__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75rem;
  display: block;
  margin-bottom: 5px;
}

.sidebar-review-box__label {
  font-weight: 700;
}

.sidebar-review-box ul {
  margin-bottom: 0;
}

.sidebar-review-box ul li {
  margin-bottom: 2px;
}

.footer {
  background-color: #333;
  margin-top: 60px;
  padding-top: 40px;
  text-align: center;
}

.home .footer,.archive .footer,.single .footer {
  margin-top: 0;
}

.footer-copyright {
  color: #FFF;
  background-color: #222;
  padding: 10px 15px;
  margin-top: 40px;
}

.footer-copyright a {
  color: #8D99AE;
}

.footer-social {
  margin-bottom: 30px;
}

.footer-social__link {
  width: 34px;
  height: 34px;
  color: #FFF;
  display: inline-block;
  border-radius: 100%;
  padding: 4px 0;
  background-color: #8D99AE;
}

.footer-social__link:before {
  content: "";
  font-family: "icomoon";
  display: inline-block;
  vertical-align: middle;
}

.footer-social__link.facebook:before {
  content: "\e90a";
}

.footer-social__link.twitter:before {
  content: "\e908";
}

.footer-social__link.instagram:before {
  content: "\e909";
}

.footer-social__link.youtube:before {
  content: "\e905";
}

.footer-social__link.tumblr:before {
  content: "\e906";
}

.footer-social__link:hover,.footer-social__link:focus {
  color: #FFF;
}

.footer-links {
  font-weight: 700;
  text-transform: uppercase;
}

.footer-links a {
  color: #FFF;
}

.footer-links .list-inline-item:not(:last-child) {
  margin-right: 25px;
}

.btn {
  color: #4A4A4A;
  padding: 6px 30px;
  box-shadow: 8px 8px 0px 0px #8D99AE;
}

.btn-lg {
  padding: 15px 60px;
  font-weight: 700;
}

.btn-yellow {
  background-color: #FFE66D;
}

.btn--more {
  font-style: italic;
}

.btn--more:after {
  content: "\e900";
  font-family: "icomoon";
  font-style: normal;
  margin-left: 10px;
  margin-top: -4px;
  display: inline-block;
  vertical-align: middle;
}

a.btn:focus {
  outline: none;
  box-shadow: 4px 4px 0px 0px #8D99AE;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: "icomoon";
}

.stars-outer:before {
  content: "\e903 \e903 \e903 \e903 \e903";
  color: #8D99AE;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner:before {
  content: "\e903 \e903 \e903 \e903 \e903";
  color: #FFE66D;
}

.adspace-leaderboard,.adspace-sidebar {
  margin: 30px 0;
}

.pageNotFound {
  text-align: center;
  padding: 60px 0;
}

.pageNotFound__title {
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.pageNotFound__link {
  color: #8D99AE;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
}

.pageNotFound__link:before {
  content: "\e901";
  font-family: "icomoon";
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.pageNotFound__img {
  max-width: 200px;
  margin-bottom: 40px;
}

.rank-math-breadcrumb {
  padding: 0;
  margin: 40px 0 15px;
  color: #8D99AE;
  background-color: transparent;
}

.rank-math-breadcrumb a {
  color: #E63946;
  font-weight: 700;
}

.rank-math-breadcrumb .last {
  font-weight: 400;
  text-decoration: none;
}

.content-img img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 3px;
}

.content-img__caption {
  color: #7d7d7d;
  text-align: right;
  font-size: 0.75rem;
  font-style: italic;
}

.content-img--full-height img {
  max-height: none;
}

.content-style,blockquote {
  border-top: 1px solid #eceef2;
  border-bottom: 1px solid #eceef2;
  padding: 20px 0 15px;
  margin: 20px 0;
  position: relative;
}

.content-style:before,blockquote:before {
  content: "\e90b";
  color: #8D99AE;
  font-family: "icomoon";
  font-style: normal;
  font-size: 1rem;
  border: 2px solid #d8dce3;
  background-color: #e6e9ee;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: -18px;
  text-align: center;
  padding: 3px 0;
  margin-left: -18px;
}

.content-style--quote {
  font-style: italic;
}

.content-style--quote:before {
  content: "\e90e";
}

.content-style--announcement:before {
  content: "\e90b";
}

blockquote {
  font-style: italic;
}

blockquote:before {
  content: "\e90e";
}

blockquote p {
  margin-bottom: 0;
}

.article-single__text blockquote p {
  margin-bottom: 0;
}

.toc {
  margin-bottom: 30px;
}

.toc__title {
  font-size: 1rem;
}

.toc__list {
  list-style: none;
  padding-left: 0;
  font-size: 1rem;
}

.toc__list-item {
  margin-bottom: 5px;
}

.cta-buttons {
  padding-top: 30px;
  padding-bottom: 40px;
}

.cta-buttons__link {
  height: 100%;
  width: 100%;
  color: #FFF;
  background-color: #EEE;
  padding: 20px 15px;
  display: table;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.cta-buttons__link:hover,.cta-buttons__link:focus {
  color: #FFF;
}

.cta-buttons__link span {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.cta-buttons__link:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,153,247,0.5);
  background: -webkit-linear-gradient(to right, rgba(241,23,18,0.5), rgba(0,153,247,0.5));
  background: linear-gradient(to right, rgba(241,23,18,0.5), rgba(0,153,247,0.5));
}

.search-btn {
  color: #FFF;
  border: 0;
  background: transparent;
}

.search-btn:focus {
  outline: none;
}

.search-btn .icon:before {
  content: "\e902";
  font-family: "icomoon";
}

.search-init .search-btn .icon:before {
  content: "\e912";
}

.search-init .search-btn {
  border-radius: 100%;
  background: #252739;
}

.search-form {
  margin: 10px 0;
}

.search-form__input {
  border: 0;
  padding: 5px 10px;
  height: 40px;
  border-radius: 2px;
}

.search-form__submit {
  height: 40px;
  padding: 6px 20px;
  border: 0;
  background: #4ECDC4;
  color: #FFF;
  border-radius: 4px;
  margin-left: 5px;
  font-weight: 700;
}

.search-init .search-form {
  display: block;
}

.author-box--single {
  position: relative;
  padding: 60px 50px 30px;
  text-align: center;
  margin: 80px auto;
  max-width: 800px;
}

.author-box--single .author-box__name {
  font-weight: 900;
}

.author-box__img {
  border-radius: 3px;
}

.author-box--single .author-box__img {
  width: 95px;
  height: 95px;
  position: absolute;
  left: 50%;
  top: -50px;
  margin-left: -48px;
  border-radius: 100%;
}

.author-box--single .author-box__social {
  margin-top: 30px;
}

.author-box__social__item {
  color: #FFF;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 4px 0;
  border-radius: 100%;
  font-size: 0.875rem;
  background-color: #8D99AE;
}

.author-box--single .author-box__social__item {
  background-color: #6f7e99;
}

.author-box__social__item:hover,.author-box__social__item:focus {
  text-decoration: none;
  color: #FFF;
}

.author-box__social__item:before {
  content: "";
  font-family: "icomoon";
}

.author-box__social__item.facebook:before {
  content: "\e90a";
}

.author-box__social__item.facebook:hover,.author-box__social__item.facebook:focus {
  background-color: #3b5998;
}

.author-box__social__item.twitter:before {
  content: "\e908";
}

.author-box__social__item.twitter:hover,.author-box__social__item.twitter:focus {
  background-color: #1da1f2;
}

.author-box__social__item.instagram:before {
  content: "\e909";
}

.author-box__social__item.instagram:hover,.author-box__social__item.instagram:focus {
  background-color: #fd1d1d;
}

.article-single__banner {
  height: 700px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.article-single__banner:before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(43,45,66,0.6);
}

.article-single__banner__content {
  color: #FFF;
  text-align: center;
  max-width: 800px;
  margin-bottom: 50px;
  position: relative;
}

.article-single__banner .article-single__title {
  font-size: 3.25rem;
  line-height: 1.2;
  letter-spacing: 1px;
}

.article-single__banner .article-single__category {
  margin-bottom: 15px;
}

.article-single__banner .article-single__category--primary a {
  color: #FFF;
  background-color: #E63946;
  padding: 4px 8px;
}

.article-single__banner .article-single__category--primary a:hover,.article-single__banner .article-single__category--primary a:focus {
  color: #FFF;
}

.article-list__item {
  margin-bottom: 15px;
}

.sidebar .article-list__item {
  font-size: 0.875rem;
}

.article-list__img {
  margin-right: 10px;
  width: 80px;
  height: 90px;
  object-fit: cover;
}

.article-list__category,.article-list__date {
  color: #8D99AE;
  font-size: 0.75rem;
}

.article-list__category {
  text-transform: uppercase;
}

.article-list__category:hover,.article-list__category:focus {
  color: #E63946;
  text-decoration: none;
}

.sidebar .article-list__category {
  font-weight: 600;
}

.article-list__title {
  font-size: 1.125rem;
  margin: 0;
}

.sidebar .article-list__title {
  font-size: 0.875rem;
}

.article-list__title a {
  color: #4A4A4A;
}

.article-list__author a {
  color: #FFF;
}

.article-list__item--featured {
  height: 400px;
  margin-bottom: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article-list__item--featured:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.article-list__item--featured .article-list__category {
  position: absolute;
  top: 0;
  left: 30px;
  background-color: #FFE66D;
  padding: 2px 15px;
  font-weight: 700;
  color: #4A4A4A;
  text-decoration: none;
}

.article-list__item--featured .article-list__block {
  color: #FFF;
  position: absolute;
  bottom: 0;
  padding: 20px 30px;
}

.article-list__item--featured .article-list__title {
  font-size: 1.375rem;
  font-weight: 900;
}

.article-list__item--featured .article-list__title a {
  color: #FFF;
}

.article-list__item--featured .article-list__author {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  align-items: center;
}

.article-list__item--featured .article-list__author li {
  margin-right: 20px;
  font-size: 0.875rem;
}

.article-list__item--featured .article-list__author li:last-child {
  margin-right: 0;
}

.article-list__item--featured .article-list__author__img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 100%;
}

.article-list__item--featured .article-list__author__name,.article-list__item--featured .article-list__author__date {
  display: inline-block;
  vertical-align: middle;
}

.article-list__item--featured .article-list__author__date:before {
  content: "\e90c";
  font-family: "icomoon";
  display: inline-block;
  margin-right: 3px;
}

.featured-reviews .article-list__item--featured {
  height: 300px;
}

.featured-reviews .article-list__item--featured .article-list__title {
  font-size: 1.125rem;
}

.featured-reviews .article-list__item--featured .article-list__block {
  padding: 15px;
}

.featured-reviews .article-list__item--featured .article-list__author {
  font-size: 0.75rem;
}

.featured-reviews .article-list__item--featured .article-list__author__img {
  height: 30px;
  width: 30px;
}

.article-list--comments .media-body {
  font-size: 0.875rem;
  line-height: 1.2rem;
}

.article-list--comments .media-body a {
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: 600;
}

.featured-reviews .article-list__thumbnail {
  position: relative;
  margin-bottom: 0;
}

.featured-reviews .article-list__title {
  font-size: 0.875rem;
  font-weight: 700;
}

.featured-reviews .article-list__category {
  font-weight: 600;
  font-size: 0.75rem;
}

.featured-reviews .article-list__ratings--number {
  position: absolute;
  right: 10px;
  bottom: 0;
  padding: 4px 8px;
  color: #FFF;
  font-weight: 700;
  background-color: rgba(78,205,196,0.8);
}

.recent-articles__item {
  margin-bottom: 20px;
}

.recent-articles__thumbnail {
  position: relative;
}

.recent-articles__item--review .recent-articles__thumbnail:before {
  content: "";
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.recent-articles__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.recent-articles__category {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
}

.recent-articles__category a {
  color: #4A4A4A;
}

.recent-articles__title {
  font-weight: 900;
  font-style: italic;
  font-size: 2.125rem;
  line-height: 2.2rem;
  margin-bottom: 10px;
}

.recent-articles__title a {
  color: #4A4A4A;
}

.recent-articles__content {
  font-size: 1.125rem;
}

.recent-articles__ratings {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-articles__ratings .ratings__number {
  padding: 4px 8px;
  color: #FFF;
  font-weight: 700;
  background-color: rgba(78,205,196,0.8);
}

.article-single__header {
  text-align: center;
}

.article-single__category {
  color: #8D99AE;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.article-single__category a {
  color: #8D99AE;
  font-size: 0.875rem;
}

.article-single__category a:hover,.article-single__category a:focus {
  color: #E63946;
}

.article-single__category--primary a {
  color: #E63946;
}

.article-single__title {
  font-size: 2.625rem;
  font-weight: 900;
  font-style: italic;
  line-height: 2.875rem;
  margin-bottom: 40px;
}

.article-single__thumb img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.article-single__thumb__caption {
  color: #8D99AE;
  font-size: 0.75rem;
  margin-top: 5px;
}

.article-single__meta {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-single__text {
  font-size: 1.125rem;
}

.article-single__text img {
  max-width: 100%;
}

.article-single__text p {
  margin-bottom: 2rem;
}

.article-single__text a {
  color: #4A4A4A;
  text-decoration: none;
  box-shadow: 0px 2px 0px #E63946;
}

.article-single__text a:hover {
  background-color: #e6e9ee;
}

.article-single__text h2,.article-single__text h3,.article-single__text h4,.article-single__text h5,.article-single__text h6 {
  font-weight: 900;
}

.article-single__author {
  width: 50%;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 0.875rem;
  text-transform: uppercase;
}

.article-single__author a {
  color: #8D99AE;
  box-shadow: none;
}

.article-single__author a:hover,.article-single__author a:focus {
  color: #E63946;
  background-color: transparent;
}

.article-single__author p {
  margin-bottom: 2px !important;
}

.article-single__author strong {
  font-weight: 700;
}

.article-single__author__img {
  float: left;
  margin-right: 10px;
  border-radius: 100%;
  width: 62px;
  height: 62px;
  margin-top: -19px;
}

.article-single__social {
  text-align: right;
}

.article-single__social .list-inline-item:not(:last-child) {
  margin-right: 5px;
}

.article-single__social__link {
  color: #FFF;
  background-color: #8D99AE;
  border-radius: 2px;
  width: 32px;
  height: 32px;
  display: block;
  padding: 4px 0;
  text-align: center;
  font-size: 0.875rem;
  text-decoration: none;
  border: 0;
}

.article-single__social__link:hover,.article-single__social__link:focus {
  outline: none;
  text-decoration: none;
  color: #FFF;
  background-color: #4ECDC4;
  box-shadow: none;
}

.article-single__social__link[data-sharer="facebook"] {
  background-color: #4c70ba;
}

.article-single__social__link[data-sharer="facebook"]:hover,.article-single__social__link[data-sharer="facebook"]:focus {
  background-color: #3b5998;
}

.article-single__social__link[data-sharer="twitter"] {
  background-color: #4db5f5;
}

.article-single__social__link[data-sharer="twitter"]:hover,.article-single__social__link[data-sharer="twitter"]:focus {
  background-color: #1da1f2;
}

.article-single__social__link[data-sharer="reddit"] {
  background-color: #ff6a33;
}

.article-single__social__link[data-sharer="reddit"]:hover,.article-single__social__link[data-sharer="reddit"]:focus {
  background-color: #ff4500;
}

.article-single__social__link[data-sharer="tumblr"] {
  background-color: #485f7c;
}

.article-single__social__link[data-sharer="tumblr"]:hover,.article-single__social__link[data-sharer="tumblr"]:focus {
  background-color: #35465c;
}

.article-single__heading,.article-single .title-styled {
  font-weight: 900;
  font-size: 2rem;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.article-single__heading:before,.article-single__heading:after,.article-single .title-styled:before,.article-single .title-styled:after {
  content: "";
  display: block;
  height: 3px;
  border-radius: 30px;
  background-color: #E8E8E8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.article-single__heading:before,.article-single .title-styled:before {
  width: 120px;
  background-color: #ec6670;
  z-index: 1;
}

.article-single__tags a {
  color: #8D99AE;
  text-decoration: underline;
  font-weight: 600;
}

.article-single__content img[align="left"] {
  margin-right: 15px;
}

.article-single__content img[align="right"] {
  margin-left: 15px;
}

.article-related {
  margin: 40px 0;
}

.article-related__heading {
  color: #E63946;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.article-related__thumbnail {
  margin-bottom: 0;
}

.article-related__thumbnail__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 2px;
}

.article-related__title {
  font-size: 1.1rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
}

.article-related__title a {
  color: #4A4A4A;
}

.article-related__content {
  background-color: #FFF;
  margin: -25px 20px 0;
  position: relative;
  padding: 10px 15px;
}

.article-recommended {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.article-recommended:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.article-recommended__thumbnail {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.article-recommended__title {
  position: absolute;
  bottom: 10px;
  left: 15px;
  right: 15px;
}

.article-recommended__title h3 {
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.article-recommended__title a {
  color: #FFF;
}

.author-article__item {
  margin-bottom: 30px;
}

.author-article__thumbnail {
  position: relative;
}

.author-article__img {
  width: 100%;
  height: 250px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.author-article__category {
  display: block;
  margin-bottom: 10px;
}

.author-article__category a {
  color: #8D99AE;
  font-weight: 600;
}

.author-article__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.author-article__title a {
  color: #2B2D42;
  text-decoration: none;
}

.author-article__title a:hover {
  color: #E63946;
}

.author-article__content {
  color: #6f7e99;
}

.author-article__ratings {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 3px 12px;
  border-radius: 3px;
  letter-spacing: 2px;
  background-color: rgba(43,45,66,0.8);
}

.author-article__ratings .ratings__number {
  color: #FFF;
  font-weight: 700;
}

.article-cosplay {
  margin-top: -40px;
}

.cosplay-gallery__img {
  width: 100%;
}

.cosplay-gallery__caption__item {
  font-size: 0.75rem;
  display: inline-block;
  margin-right: 20px;
}

.article-review__thumb img {
  width: 180px;
  height: 150px;
  object-fit: cover;
}

.deals-section {
  background-color: #f4f4f8;
  margin-top: 60px;
  padding: 40px 0 60px;
}

.deals-section .section-title {
  padding-bottom: 10px;
}

.deals-section .section-title:before {
  content: "\e90d";
  font-family: "icomoon";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -4px;
}

.deals-section__link {
  color: #4A4A4A;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 0 2px 0 #4A4A4A;
}

.deals-section__link:hover,.deals-section__link:focus {
  color: #4A4A4A;
  text-decoration: none;
}

.deals-section__link:after {
  content: "\e900";
  font-family: "icomoon";
  font-size: 0.875rem;
  margin-left: 5px;
}

.deals__wrapper {
  display: block;
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 3px;
  background-color: #4A4A4A;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.deals__wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.deals__content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.deals__title {
  color: #FFF;
  font-weight: 900;
  font-size: 1.7rem;
  text-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.deals__range,.deals__price {
  color: #FFF;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
  padding: 5px 10px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 1px;
}

.deals__range {
  background-color: #E63946;
}

.deals__price {
  color: #FFF;
  background-color: #3f4261;
}

.deals__expiration {
  color: #FFF;
  font-size: 0.75rem;
  display: block;
  font-weight: 300;
  margin-top: 5px;
}

.pagination {
  margin: 40px auto;
  justify-content: center;
}

.pagination .page-numbers {
  color: #4A4A4A;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.25rem;
  margin-right: 10px;
  border-radius: 4px;
}

.pagination .page-numbers.current {
  color: #FFF;
  font-weight: 700;
  background-color: #4ECDC4;
}

.pagination .page-numbers.prev,.pagination .page-numbers.next {
  color: #4ECDC4;
}

.wp-block-image figcaption {
  color: #7d7d7d;
  text-align: right;
  font-size: .75rem;
  font-style: italic;
}

.list-item {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.list-item__title {
  margin-bottom: 15px;
  font-weight: 700;
}

.list-item__image img {
  width: 100%;
  height: 350px;
  border-radius: 4px;
  object-fit: cover;
}

.img-box__title {
  margin-bottom: 12px;
}

.img-box__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.img-box__img {
  margin: 5px 0 16px;
}

.img-box__img img {
  margin-bottom: 5px;
}

.videos-section {
  margin-top: 40px;
}

.videos-section .video-cta {
  display: block;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.videos-section .video-cta:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,153,247,0.6);
  background: -webkit-linear-gradient(to right, rgba(241,23,18,0.6), rgba(0,153,247,0.6));
  background: linear-gradient(to right, rgba(241,23,18,0.6), rgba(0,153,247,0.6));
}

.videos-section .video-cta:after {
  content: "\e904";
  font-family: "icomoon";
  font-size: 3rem;
  line-height: 3rem;
  color: rgba(255,255,255,0.8);
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

.videos-section .video-cta__title {
  color: #FFF;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-weight: 900;
  font-style: italic;
  font-size: 1.5rem;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

.videos-section .video-cta:hover:after {
  color: #FFF;
}

@font-face {
  font-family:'icomoon';src:url("../fonts/icomoon.eot?qre4b3");src:url("../fonts/icomoon.eot?qre4b3#iefix") format("embedded-opentype"),url("../fonts/icomoon.ttf?qre4b3") format("truetype"),url("../fonts/icomoon.woff?qre4b3") format("woff"),url("../fonts/icomoon.svg?qre4b3#icomoon") format("svg");font-weight:normal;font-style:normal;font-display:block;
}

@media (min-width: 576px) {
  .article-review__thumb.align-left {
    float: left;
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 0 1rem;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding: 1.2rem 0.8rem;
  }

  .content-img-floated__left {
    max-width: 300px;
    height: auto;
    float: left;
    margin: 0 20px 15px -50px;
    text-align: right;
  }

  .search-form {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #252739;
    padding: 10px 15px;
    margin: 0;
    border-radius: 0px 0px 5px 5px;
  }

  .recent-articles__item {
    display: flex;
  }

  .recent-articles__thumbnail {
    margin-right: 20px;
  }

  .article-cosplay__block {
    padding: 0 60px;
  }

  .img-box__align--right,.img-box__align--left {
    flex-direction: row;
  }

  .img-box__align--right .img-box__img,.img-box__align--left .img-box__img {
    margin-bottom: 0;
  }

  .img-box__align--right .img-box__img img,.img-box__align--left .img-box__img img {
    width: 200px;
    height: 175px;
    object-fit: cover;
  }

  .img-box__align--right .img-box__content,.img-box__align--left .img-box__content {
    flex: 1;
  }

  .img-box__align--left .img-box__img {
    margin-right: 16px;
  }

  .img-box__align--right .img-box__img {
    order: 2;
    margin-left: 16px;
  }

  .img-box__align--right .img-box__content {
    order: 1;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar .nav-tabs .nav-item .nav-link[href="#popular"]:before,.sidebar .nav-tabs .nav-item .nav-link[href="#recent"]:before {
    display: none;
  }
}

@media (min-width: 992px) {
  .article-single__header {
    max-width: 83.333333%;
    margin: 30px auto 0;
  }
}

@media (max-width: 1199px) {
  .recent-articles__title {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .featured-reviews .article-list__item--featured .article-list__author {
    display: block;
  }

  .featured-reviews .article-list__item--featured .article-list__author li {
    margin-right: 0;
  }

  .featured-reviews .article-list__item--featured .article-list__author__date {
    display: none;
  }
}

@media (max-width: 991px) {
  .cta-buttons {
    padding-bottom: 20px;
  }

  .cta-buttons__item {
    margin-bottom: 20px;
  }

  .article-single__banner {
    height: 500px;
  }

  .article-list__category,.article-list__date {
    font-size: 0.688rem;
  }

  .article-list__title {
    font-size: 1rem;
  }

  .article-single__thumb img {
    height: 500px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    border-top: 2px solid #212233;
    margin-top: 15px;
    padding-top: 10px;
  }

  .sidebar {
    margin-top: 40px;
  }

  .search-btn {
    display: none;
  }

  .search-form__submit {
    margin: 10px 0 0;
  }

  .search-form__input,.search-form__submit {
    width: 100%;
    display: block;
  }

  .article-single__banner {
    height: 350px;
  }

  .article-list__img {
    height: 70px;
  }

  .article-list__item--featured {
    height: 300px;
  }

  .featured-reviews .article-list__item--featured {
    height: 250px;
  }

  .recent-articles__item {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e6e9ee;
  }

  .recent-articles__item:after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: #e6e9ee;
    border: 5px solid #FFF;
    position: absolute;
    bottom: -12.5px;
    left: 50%;
    margin-left: -12.5px;
    border-radius: 100%;
  }

  .recent-articles__img {
    width: 100%;
    height: 200px;
  }

  .recent-articles__category {
    font-size: 0.75rem;
  }

  .recent-articles__title {
    font-size: 1.7rem;
    line-height: 1.8rem;
  }

  .recent-articles__content {
    font-size: 1rem;
  }

  .article-single__thumb img {
    height: 350px;
  }

  .pagination .page-numbers {
    font-size: 1rem;
    padding: 10px 15px;
  }

  .videos-section .video-cta {
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .article-single__meta {
    flex-direction: column;
  }

  .article-single__author {
    width: 100%;
    margin-bottom: 15px;
  }

  .article-single__content {
    float: none;
  }

  .article-review__thumb img {
    width: 100%;
    height: 200px;
  }

  .list-item__image img {
    height: 300px;
  }

  .videos-section .video-cta__title {
    font-size: 1.3rem;
  }
}
