.wp-block.is-selected,
.wp-block.has-child-selected {
    background-color: rgba(220, 227, 255, 0.5);
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.title-styled {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.title-styled:before,
.title-styled:after {
    content: "";
    display: block;
    height: 3px;
    border-radius: 30px;
    background-color: #E8E8E8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.title-styled:before {
    width: 120px;
    background-color: #ec6670;
    z-index: 1;
}

.title-styled:after {
    top: auto;
}