.footer {
    background-color: #333;
    margin-top: 60px;
    padding-top: 40px;
    text-align: center;

    .home &,
    .archive &,
    .single & {
        margin-top: 0;
    }

    &-copyright {
        color: #FFF;
        background-color: #222;
        padding: 10px 15px;
        margin-top: 40px;

        a {
            color: $color_lightgrey;
        }
    }

    &-social {
        margin-bottom: 30px;
        &__link {
            width: 34px;
            height: 34px;
            color: #FFF;
            display: inline-block;
            border-radius: 100%;
            padding: 4px 0;
            background-color: $color_lightgrey;

            &:before {
                content: "";
                font-family: $font_icon;
                display: inline-block;
                vertical-align: middle;
            }

            &.facebook:before {
                content: "\e90a";
            }
            &.twitter:before {
                content: "\e908";
            }
            &.instagram:before {
                content: "\e909";
            }
            &.youtube:before {
                content: "\e905";
            }
            &.tumblr:before {
                content: "\e906";
            }

            &:hover,
            &:focus {
                color: #FFF;
            }
        }
    } // Social

    &-links {
        font-weight: $font_bold;
        text-transform: uppercase;

        a {
            color: #FFF;
        }

        .list-inline-item:not(:last-child) {
            margin-right: 25px;
        }
    }
}