.header {
    padding: 100px 0 0;
}
.navbar {
    @media (min-width: 768px) {
        padding: 0 1rem;   
    }

    &-brand {
        img {
            height: 40px;
        }
    }

    &.bg-dark {
        background-color: $color_darkblue !important;
    }

    .nav-link {
        text-transform: uppercase;
        font-weight: $font_bold;
    }

    &-toggler {
        &:focus {
            outline: none;
        }
        &[aria-expanded="true"] {
            background-color: darken($color_darkblue, 10);
        }
    }

    &-nav {
        .dropdown-menu {
            margin-top: -1px;
            background-color: $color_darkblue;
            border-radius: 0;
            border: 0;
            padding: 0;

            .dropdown-item {
                color: #FFF;
                padding: 0.7rem 1rem;
                text-transform: uppercase;
                font-weight: $font_bold;
                border-top: 1px solid $color_base;

                &:first-child {
                    border-top: 0;
                }

                &:hover,
                &:focus {
                    background-color: darken($color_base, 15);
                }
            }
        }
    }

    &-collapse {
        position: relative;

        @media(max-width: 767px){
            border-top: 2px solid darken($color_darkblue, 5);
            margin-top: 15px;
            padding-top: 10px;
        }
    }
}

// Overrides
.navbar-expand-md .navbar-nav .nav-link {
    @media (min-width: 768px){
        padding: 1.2rem 0.8rem;
    }
}