.sidebar {
    @media (max-width: 767px) {
        margin-top: 40px;
    }

    &-widget {
        margin-bottom: 30px;
    }

    &__social {
        &__item {
            color: #FFF;
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            text-align: center;
            padding: 4px 0;
            border-radius: 2px;

            &:hover,
            &:focus {
                text-decoration: none;
                color: #FFF;
            }

            &:before {
                content: "";
                font-family: $font_icon;
            }

            &.facebook {
                background-color: #3b5998;
                &:before {
                    content: "\e90a";
                }
            }

            &.twitter {
                background-color: #1da1f2;
                &:before {
                    content: "\e908";
                }
            }

            &.instagram {
                background-color: #fd1d1d;
                &:before {
                    content: "\e909";
                }
            }

            &.youtube {
                background-color: #ff0000;
                &:before {
                    content: "\e905";
                }
            }

            &.tumblr {
                background-color: #35465c;
                &:before {
                    content: "\e906";
                }
            }
        }
    } // Sidebar Social

    &__title {
        font-size: 1rem;
        font-weight: $font_medium;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 15px;
        
        &:before,
        &:after {
            content: "";
            display: block;
            height: 3px;
            border-radius: 30px;
            background-color: #E8E8E8;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &:before {
            width: 120px;
            background-color: lighten($color_red, 10);
            z-index: 1;
        }
    }

    .nav-tabs {
        margin-bottom: 15px;
        
        .nav-item {
            margin-bottom: 0;
            width: 50%;

            .nav-link {
                color: lighten($color_base, 20);
                border: 0;
                font-weight: $font_medium;
                position: relative;
                text-align: center;

                &:before {
                    display: inline-block;
                    margin-right: 4px;
                    vertical-align: middle;
                    margin-top: -4px;
                }
    
                &.active {
                    color: $color_base;
                    &:after {
                        content: "";
                        height: 3px;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: lighten($color_red, 10);
                    }
                }

                &[href="#popular"] {
                    &:before {
                        content: "\e90d";
                        font-family: $font_icon;
                    }
                }
                &[href="#recent"] {
                    &:before {
                        content: "\e90c";
                        font-family: $font_icon;
                    }
                }

                @media(min-width: 992px) and (max-width: 1199px){
                    &[href="#popular"]:before,
                    &[href="#recent"]:before {
                        display: none;
                    }
                }
            }
        }
    } // Sidebar Nav tabs

    &-review-box {
        background-size: cover;
        background-position: center;
        border-radius: 3px;
        overflow: hidden;
        
        &__ratings {
            padding: 30px;
            background-color: rgba($color_red, 0.8);
            text-align: center;

            &__num,
            &__text {
                display: block;
                color: #FFF;
            }

            &__num {
                font-size: 2rem;
                font-weight: $font_black;
                line-height: 2.1rem;
            }

            &__text {
                font-size: 0.875rem;
                font-style: italic;
            }

            &__star {
                font-size: 1.2rem;
            }
        }
        &__text {
            padding: 15px;
            color: #FFF;
            font-size: 0.875rem;
            background-color: $color_base;
        }

        &__title {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 0.75rem;
            display: block;
            margin-bottom: 5px;
        }

        &__label {
            font-weight: $font_bold;
        }

        ul {
            margin-bottom: 0;
            li {
                margin-bottom: 2px;
            }
        }
    }
}