body {
    color: $color_base;
    font-family: $font_secondary, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font_family;
    font-weight: $font_bold;
}

a {
    transition: all 0.3s ease-in-out;
}

hr {
    border-top: 1px solid lighten($color_lightgrey, 30);
}

.site-wrapper {
    min-width: 320px;
    overflow: hidden;
}

.text-danger {
    color: $color_red !important;
}

.section {
    &-title {
        font-size: 1.2rem;
        font-weight: $font_bold;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 20px;

        &:after {
            content: "";
            display: block;
            height: 3px;
            width: 120px;
            border-radius: 30px;
            background-color: lighten($color_red, 10);
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &--centered {
            text-align: center;

            &:after {
                width: 95px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}