@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?qre4b3');
  src: url('../fonts/icomoon.eot?qre4b3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qre4b3') format('truetype'),
    url('../fonts/icomoon.woff?qre4b3') format('woff'),
    url('../fonts/icomoon.svg?qre4b3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e912";
}
.icon-hot:before {
  content: "\e90d";
}
.icon-time:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-reddit:before {
  content: "\e910";
}
.icon-quote-left:before {
  content: "\e90e";
}
.icon-flash:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e902";
}
.icon-link:before {
  content: "\e90f";
}
.icon-star-full:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-tumblr:before {
  content: "\e906";
}
.icon-feed:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}