$color_yellow: #FFE66D;
$color_lightgrey: #8D99AE;
$color_base: #4A4A4A;
$color_lightgreen: #4ECDC4;
$color_red: #E63946;
$color_darkblue: #2B2D42;

$font_family: 'Lato';
$font_secondary: 'Asap';
$font_bold: 700;
$font_black: 900;
$font_medium: 600;
$font_icon: 'icomoon';