.article-list {
    &__item {
        margin-bottom: 15px;

        .sidebar & {
            font-size: 0.875rem;
        }
    }

    &__img {
        margin-right: 10px;
        width: 80px;
        height: 90px;
        object-fit: cover;

        @media(max-width: 767px){
            height: 70px;
        }
    }

    &__category,
    &__date {
        color: $color_lightgrey;
        font-size: 0.75rem;

        @media(max-width: 991px){
            font-size: 0.688rem;
        }
    }

    &__category {
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: $color_red;
            text-decoration: none;
        }

        .sidebar & {
            font-weight: $font_medium;
        }
    }

    &__title {
        font-size: 1.125rem;
        margin: 0;

        .sidebar & {
            font-size: 0.875rem;
        }

        a {
            color: $color_base;
        }

        @media(max-width: 991px){
            font-size: 1rem;
        }
    }

    &__author {
        a {
            color: #FFF;
        }
    }

    &__item--featured {
        height: 400px;
        margin-bottom: 20px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media(max-width: 767px){
            height: 300px;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            @include linearGradient;
        }

        .article-list {
            &__category {
                position: absolute;
                top: 0;
                left: 30px;
                background-color: $color_yellow;
                padding: 2px 15px;
                font-weight: $font_bold;
                color: $color_base;
                text-decoration: none;
            }
            &__block {
                color: #FFF;
                position: absolute;
                bottom: 0;
                padding: 20px 30px;
            }
            &__title {
                font-size: 1.375rem;
                font-weight: $font_black;
                a {
                    color: #FFF;
                }
            }
            &__author {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 10px 0 0;
                align-items: center;

                li {
                    margin-right: 20px;
                    font-size: 0.875rem;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &__img {
                    width: 40px;
                    height: 40px;
                    margin-right: 5px;
                    border-radius: 100%;
                }

                &__name,
                &__date {
                    display: inline-block;
                    vertical-align: middle;
                }

                &__date:before {
                    content: "\e90c";
                    font-family: $font_icon;
                    display: inline-block;
                    margin-right: 3px;
                }
            }
        } // END Article list

        .featured-reviews & {
            height: 300px;

            @media(max-width: 767px){
                height: 250px;
            }

            .article-list {
                &__title {
                    font-size: 1.125rem;
                }

                &__block {
                    padding: 15px;
                }

                &__author {
                    font-size: 0.75rem;

                    &__img {
                        height: 30px;
                        width: 30px;
                    }

                    @media(max-width: 992px){
                        display: block;

                        li {
                            margin-right: 0;
                        }

                        &__date {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &--comments {
        .media-body {
            font-size: 0.875rem;
            line-height: 1.2rem;

            a {
                color: $color_base;
                text-decoration: underline;
                font-weight: $font_medium;
            }
        }
    }
} // END Article list

.featured-reviews {
    .article-list {
        &__thumbnail {
            position: relative;
            margin-bottom: 0;
        }

        &__title {
            font-size: 0.875rem;
            font-weight: $font_bold;
        }

        &__category {
            font-weight: $font_medium;
            font-size: 0.75rem;
        }

        &__ratings--number {
            position: absolute;
            right: 10px;
            bottom: 0;
            padding: 4px 8px;
            color: #FFF;
            font-weight: $font_bold;
            background-color: rgba($color_lightgreen, 0.8);
        }
    }
} // END Featured Reviews

.recent-articles {
    &__item {
        margin-bottom: 20px;

        @media(min-width: 768px){
            display: flex;
        }

        @media(max-width: 767px){
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 30px;
            border-bottom: 1px solid lighten($color_lightgrey, 30);

            &:after {
                content: "";
                width: 25px;
                height: 25px;
                background-color: lighten($color_lightgrey, 30);
                border: 5px solid #FFF;
                position: absolute;
                bottom: -12.5px;
                left: 50%;
                margin-left: -12.5px;
                border-radius: 100%;
            }
        }
    }
    
    &__thumbnail {
        position: relative;

        @media(min-width: 768px){
            margin-right: 20px;
        }
    }

    &__item--review {
        .recent-articles__thumbnail:before {
            content: "";
            @include linearGradient;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
    }

    &__img {
        width: 200px;
        height: 250px;
        object-fit: cover;

        @media(max-width: 767px){
            width: 100%;
            height: 200px;
        }
    }

    &__category {
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: $font_medium;

        @media(max-width: 767px){
            font-size: 0.75rem;
        }

        a {
            color: $color_base;
        }
    }

    &__title {
        font-weight: $font_black;
        font-style: italic;
        font-size: 2.125rem;
        line-height: 2.2rem;
        margin-bottom: 10px;

        a {
            color: $color_base;
        }

        @media(max-width: 1199px){
            font-size: 2rem;
        }

        @media(max-width: 767px){
            font-size: 1.7rem;
            line-height: 1.8rem;
        }
    }

    &__content {
        font-size: 1.125rem;

        @media(max-width: 767px){
            font-size: 1rem;
        }
    }

    &__ratings {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ratings__number {
            padding: 4px 8px;
            color: #FFF;
            font-weight: $font_bold;
            background-color: rgba($color_lightgreen, 0.8);
        }
    }
} // END Recent Articles

.article-single {
    &__header {
        text-align: center;

        @media (min-width: 992px){
            max-width: 83.333333%;
            margin: 30px auto 0 ;
        }
    }

    &__category {
        color: $color_lightgrey;
        font-weight: $font_bold;
        text-transform: uppercase;
        display: block;
        margin-bottom: 5px;

        a {
            color: $color_lightgrey;
            font-size: 0.875rem;

            &:hover,
            &:focus {
                color: $color_red;
            }
        }

        &--primary a {
            color: $color_red;
        }
    }

    &__title {
        font-size: 2.625rem;
        font-weight: $font_black;
        font-style: italic;
        line-height: 2.875rem;
        margin-bottom: 40px;
    }

    &__thumb {
        img {
            width: 100%;
            height: 600px;
            object-fit: cover;

            @media(max-width: 991px){
                height: 500px;
            }

            @media(max-width: 767px){
                height: 350px;
            }
        }

        &__caption {
            color: $color_lightgrey;
            font-size: 0.75rem;
            // font-style: italic;
            // font-weight: 300;
            margin-top: 5px;
        }
    }

    &__meta {
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 575px){
            flex-direction: column;
        }
    }

    &__text {
        font-size: 1.125rem;

        img {
            max-width: 100%;
        }

        p {
            margin-bottom: 2rem;
        }

        a {
            color: $color_base;
            text-decoration: none;
            box-shadow: 0px 2px 0px $color_red;
            
            &:hover {
                background-color: lighten($color_lightgrey, 30);
            }
        }

        h2, h3, h4, h5, h6 {
            font-weight: $font_black;
        }
    }

    &__author {
        width: 50%;
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 0.875rem;
        text-transform: uppercase;

        @media(max-width: 575px){
            width: 100%;
            margin-bottom: 15px;
        }

        a {
            color: $color_lightgrey;
            box-shadow: none;

            &:hover,
            &:focus {
                color: $color_red;
                background-color: transparent;
            }
        }

        p {
            margin-bottom: 2px !important;
        }

        strong {
            font-weight: $font_bold;
        }

        &__img {
            float: left;
            margin-right: 10px;
            border-radius: 100%;
            width: 62px;
            height: 62px;
            margin-top: -19px;
        }
    }

    &__social {
        text-align: right;

        .list-inline-item:not(:last-child){
            margin-right: 5px;
        }

        &__link {
            color: #FFF;
            background-color: $color_lightgrey;
            border-radius: 2px;
            width: 32px;
            height: 32px;
            display: block;
            padding: 4px 0;
            text-align: center;
            font-size: 0.875rem;
            text-decoration: none;
            border: 0;

            &:hover,
            &:focus {
                outline: none;
                text-decoration: none;
                color: #FFF;
                background-color: $color_lightgreen;
                box-shadow: none;
            }

            &[data-sharer="facebook"] {
                background-color: lighten(#3b5998, 10);

                &:hover,
                &:focus {
                    background-color: #3b5998;
                }
            }

            &[data-sharer="twitter"] {
                background-color: lighten(#1da1f2, 10);
                &:hover,
                &:focus {
                    background-color: #1da1f2;
                }
            }

            &[data-sharer="reddit"] {
                background-color: lighten(#ff4500, 10);
                &:hover,
                &:focus {
                    background-color: #ff4500;
                }
            }

            &[data-sharer="tumblr"] {
                background-color: lighten(#35465c, 10);
                &:hover,
                &:focus {
                    background-color: #35465c;
                }
            }
        }
    }

    &__heading,
    .title-styled {
        font-weight: $font_black;
        font-size: 2rem;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 15px;
        margin-top: 40px;

        &:before,
        &:after {
            content: "";
            display: block;
            height: 3px;
            border-radius: 30px;
            background-color: #E8E8E8;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &:before {
            width: 120px;
            background-color: lighten($color_red, 10);
            z-index: 1;
        }
    }

    &__tags {
        // margin-top: 40px;

        a {
            color: $color_lightgrey;
            text-decoration: underline;
            font-weight: $font_medium;
        }        
    }

    &__content {
        img[align="left"] {
            margin-right: 15px;
        }

        img[align="right"] {
            margin-left: 15px;
        }

        @media(max-width: 575px) {
            float: none;
        }
    }
} // END Article Single

.article-related {
    margin: 40px 0;
    &__heading {
        color: $color_red;
        font-size: 1rem;
        font-weight: $font_bold;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__thumbnail {
        margin-bottom: 0;
        &__img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 2px;
        }
    }

    &__title {
        font-size: 1.1rem;
        font-weight: $font_bold;
        font-style: italic;
        margin-bottom: 15px;

        a {
            color: $color_base;
        }
    }

    &__content {
        background-color: #FFF;
        margin: -25px 20px 0;
        position: relative;
        padding: 10px 15px;
    }
} // END Article Related

.article-recommended {
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0.6;
        @include linearGradient;
    }

    &__thumbnail {
        height: 180px;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        bottom: 10px;
        left: 15px;
        right: 15px;
        
        h3 {
            font-size: 1.2rem;
            font-weight: $font_bold;
            text-shadow: 0 1px 3px rgba(#000, 0.5)
        }

        a {
            color: #FFF;
        }
    }
} // END Article Recommended

.author-article {
    &__item {
        margin-bottom: 30px;
    }

    &__thumbnail {
        position: relative;
    }

    &__img {
        width: 100%;
        height: 250px;
        max-width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    &__category {
        display: block;
        margin-bottom: 10px;
        
        a {
            color: $color_lightgrey;
            font-weight: $font_medium;
        }
    }

    &__title {
        font-size: 1.25rem;
        font-weight: bold;

        a {
            color: $color_darkblue;
            text-decoration: none;

            &:hover {
                color: $color_red;
            }
        }
    }

    &__content {
        color: darken($color_lightgrey, 10);
    }

    &__ratings {
        position: absolute;
        right: 10px;
        bottom: 10px;
        padding: 3px 12px;
        border-radius: 3px;
        letter-spacing: 2px;
        background-color: rgba($color_darkblue, 0.8);

        .ratings {
            &__number {
                color: #FFF;
                font-weight: $font_bold;
            }
        }
    }
} // END Article on Author Page

.article-cosplay {
    margin-top: -40px;

    &__block {
        @media(min-width: 768px){
            padding: 0 60px;
        }
    }
}
.cosplay-gallery {
    &__img {
        width: 100%;
    }
    &__caption {
        // display: flex;

        &__item {
            font-size: 0.75rem;
            display: inline-block;
            margin-right: 20px;

            a {
                // box-shadow: none;
            }
        }
    }
}