.article-single{
    &__banner {
        height: 700px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        &:before {
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            background-color: rgba($color_darkblue, 0.6);
        }

        @media(max-width: 991px){
            height: 500px;
        }

        @media(max-width: 767px){
            height: 350px;
        }

        &__content {
            color: #FFF;
            text-align: center;
            max-width: 800px;
            margin-bottom: 50px;
            position: relative;
        }

        .article-single {
            &__title {
                font-size: 3.25rem;
                line-height: 1.2;
                letter-spacing: 1px;
            }

            &__category {
                margin-bottom: 15px;
            }
    
            &__category--primary a {
                color: #FFF;
                background-color: $color_red;
                padding: 4px 8px;

                &:hover, &:focus {
                    color: #FFF;
                }
            }
        }
    }
}