.btn {
    color: $color_base;
    padding: 6px 30px;
    box-shadow: 8px 8px 0px 0px $color_lightgrey;
    
    &-lg {
        padding: 15px 60px;
        font-weight: $font_bold;
    }

    &-yellow {
        background-color: $color_yellow;
    }

    &--more {
        font-style: italic;

        &:after {
            content: "\e900";
            font-family: $font_icon;
            font-style: normal;
            margin-left: 10px;
            margin-top: -4px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

a.btn {
    &:focus {
        outline: none;
        box-shadow: 4px 4px 0px 0px $color_lightgrey;
    }
}