.cta-buttons {
    padding-top: 30px;
    padding-bottom: 40px;

    @media(max-width: 991px){
        padding-bottom: 20px;
    }

    &__item {
        @media(max-width: 991px){
            margin-bottom: 20px;
        }
    }

    &__link {
        height: 100%;
        width: 100%;
        color: #FFF;
        background-color: #EEE;
        padding: 20px 15px;
        display: table;
        text-align: center;
        font-weight: $font_bold;
        font-style: italic;
        font-size: 1.5rem;
        line-height: 1.5rem;
        border-radius: 4px;
        background-position: center;
        background-size: cover;
        text-shadow: 1px 1px 3px rgba(#000, 0.5);
        position: relative;

        &:hover,
        &:focus {
            color: #FFF;
        }

        span {
            display: table-cell;
            vertical-align: middle;
            position: relative;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            @include supermanGradient(0.5);
        }
    }
}