.deals {
    &-section {
        background-color: lighten($color_darkblue, 75);
        margin-top: 60px;
        padding: 40px 0 60px;

        .section-title {
            padding-bottom: 10px;
            &:before {
                content: "\e90d";
                font-family: $font_icon;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                margin-top: -4px;
            }
        }

        &__link {
            color: $color_base;
            font-size: 1.2rem;
            font-weight: $font_bold;
            box-shadow: 0 2px 0 $color_base;
            
            &:hover,
            &:focus {
                color: $color_base;
                text-decoration: none;
            }

            &:after {
                content: "\e900";
                font-family: $font_icon;
                font-size: 0.875rem;
                margin-left: 5px;
            }
        }
    }

    &__wrapper {
        display: block;
        position: relative;
        height: 250px;
        width: 100%;
        border-radius: 3px;
        background-color: $color_base;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        margin-bottom: 20px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            @include linearGradient;
        }
    }

    &__content {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }

    &__title {
        color: #FFF;
        font-weight: $font_black;
        font-size: 1.7rem;
        text-shadow: 0 1px 3px rgba(#000, 0.4)
    }

    &__range,
    &__price {
        color: #FFF;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: $font_bold;
        padding: 5px 10px;
        display: inline-block;
        text-transform: uppercase;
        border-radius: 1px;
    }

    &__range {
        background-color: $color_red;
    }

    &__price {
        color: #FFF;
        background-color: lighten($color_darkblue, 10);
    }

    &__expiration {
        color: #FFF;
        font-size: 0.75rem;
        display: block;
        font-weight: 300;
        margin-top: 5px;
    }
}