.pagination {
    margin: 40px auto;
    justify-content: center;

    .page-numbers {
        color: $color_base;
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.25rem;
        margin-right: 10px;
        border-radius: 4px;

        &.current {
            color: #FFF;
            font-weight: $font_bold;
            background-color: $color_lightgreen;
        }

        &.prev,
        &.next {
            color: $color_lightgreen;
        }

        @media (max-width: 767px) {
            font-size: 1rem;
            padding: 10px 15px;
        }
    }
}