.article-review {
    &__thumb {
        @media(min-width: 576px){
            &.align-left {
                float: left;
                margin-right: 1rem;
            }
        }
    
        img {
            width: 180px;
            height: 150px;
            object-fit: cover;

            @media(max-width: 575px){
                width: 100%;
                height: 200px;
            }
        }
    }
}