.search {
    &-btn {
        color: #FFF;
        border: 0;
        background: transparent;
        &:focus {
            outline: none;
        }

        .icon {
            &:before {
                content: "\e902";
                font-family: $font_icon;

                .search-init & {
                    content: "\e912";
                }
            }
        }

        .search-init & {
            border-radius: 100%;
            background: darken($color_darkblue, 3);
        }

        @media(max-width: 767px){
            display: none;
        }
    }
}

.search-form {
    margin: 10px 0;

    @media(min-width: 768px) {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: darken($color_darkblue, 3);
        padding: 10px 15px;
        margin: 0;
        border-radius: 0px 0px 5px 5px;
    }
    
    &__input {
        border: 0;
        padding: 5px 10px;
        height: 40px;
        border-radius: 2px;
    }

    &__submit {
        height: 40px;
        padding: 6px 20px;
        border: 0;
        background: $color_lightgreen;
        color: #FFF;
        border-radius: 4px;
        margin-left: 5px;
        font-weight: $font_bold;

        @media(max-width: 767px) {
            margin: 10px 0 0;
        }
    }

    .search-init & {
        display: block;
    }

    @media(max-width: 767px) {
        &__input,
        &__submit {
            width: 100%;
            display: block;
        }
    }
}