.stars {
    &-outer {
        display: inline-block;
        position: relative;
        font-family: $font_icon;
    
        &:before {
            content: "\e903 \e903 \e903 \e903 \e903";
            color: $color_lightgrey;
        }
    }

    &-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;

        &:before {
            content: "\e903 \e903 \e903 \e903 \e903";
            color: $color_yellow;
        }
    }
}

.adspace-leaderboard,
.adspace-sidebar {
    margin: 30px 0;
}

.pageNotFound {
    text-align: center;
    padding: 60px 0;

    &__title {
        font-size: 3rem;
        font-weight: $font_black;
        font-style: italic;
        text-transform: uppercase;
    }

    &__link {
        color: $color_lightgrey;
        font-size: 1.4rem;
        font-weight: $font_bold;
        font-style: italic;

        &:before {
            content: "\e901";
            font-family: $font_icon;
            font-style: normal;
            font-weight: 400;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    &__img {
        max-width: 200px;
        margin-bottom: 40px;
    }
}

.rank-math-breadcrumb {
    padding: 0;
    margin: 40px 0 15px;
    color: $color_lightgrey;
    background-color: transparent;

    a {
        color: $color_red;
        font-weight: $font_bold;
    }

    .last {
        font-weight: 400;
        text-decoration: none;
    }
}

// Content styles
.content-img {
    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        margin-bottom: 5px;
        border-radius: 3px;
    }

    &__caption {
        color: lighten($color_base, 20);
        text-align: right;
        font-size: 0.75rem;
        font-style: italic;
    }

    &--full-height {
        img {
            max-height: none;
        }
    }
}

.content-img-floated {
    @media(min-width: 768px){
        &__left {
            max-width: 300px;
            height: auto;
            float: left;
            margin: 0 20px 15px -50px;
            text-align: right;
        }
    }
}

.content-style {
    border-top: 1px solid lighten($color_lightgrey, 32);
    border-bottom: 1px solid lighten($color_lightgrey, 32);
    padding: 20px 0 15px;
    margin: 20px 0;
    position: relative;

    &:before {
        content: "\e90b";
        color: $color_lightgrey;
        font-family: $font_icon;
        font-style: normal;
        font-size: 1rem;
        border: 2px solid lighten($color_lightgrey, 25);
        background-color: lighten($color_lightgrey, 30);
        border-radius: 100%;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 50%;
        top: -18px;
        text-align: center;
        padding: 3px 0;
        margin-left: -18px;
    }

    &--quote {
        font-style: italic;

        &:before {
            content: "\e90e";
        }
    }

    &--announcement {
        &:before {
            content: "\e90b";
        }
    }
}

blockquote {
    @extend .content-style;
    font-style: italic;
    &:before {
        content: "\e90e";
    }

    p {
        margin-bottom: 0;

        .article-single__text & {
            margin-bottom: 0;
        }
    }
}

.toc {
    margin-bottom: 30px;

    &__title {
        font-size: 1rem;
    }

    &__list {
        list-style: none;
        padding-left: 0;
        font-size: 1rem;

        &-item {
            margin-bottom: 5px;
        }
    }
}