.author-box {
    &--single {
        position: relative;
        padding: 60px 50px 30px;
        text-align: center;
        margin: 80px auto;
        max-width: 800px;
    }

    &__name {
        .author-box--single & {
            font-weight: $font_black;
        }
    }

    &__img {
        border-radius: 3px;
        
        .author-box--single & {
            width: 95px;
            height: 95px;
            position: absolute;
            left: 50%;
            top: -50px;
            margin-left: -48px;
            border-radius: 100%;
        }
    }

    &__social {
        .author-box--single & {
            margin-top: 30px;
        }

        &__item {
            color: #FFF;
            display: inline-block;
            vertical-align: middle;
            width: 28px;
            height: 28px;
            text-align: center;
            padding: 4px 0;
            border-radius: 100%;
            font-size: 0.875rem;
            background-color: $color_lightgrey;

            .author-box--single & {
                background-color: darken($color_lightgrey, 10);
            }

            &:hover,
            &:focus {
                text-decoration: none;
                color: #FFF;
            }

            &:before {
                content: "";
                font-family: $font_icon;
            }

            &.facebook {
                &:before {
                    content: "\e90a";
                }

                &:hover,
                &:focus {
                    background-color: #3b5998;
                }
            }

            &.twitter {
                &:before {
                    content: "\e908";
                }

                &:hover,
                &:focus {
                    background-color: #1da1f2;
                }
            }

            &.instagram {
                &:before {
                    content: "\e909";
                }

                &:hover,
                &:focus {
                    background-color: #fd1d1d;
                }
            }
        }
    } // Sidebar Social
}