.videos-section {
    margin-top: 40px;
    
    .video-cta {
        display: block;
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        @media(max-width: 767px){
            margin-bottom: 20px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include supermanGradient(0.6);
        }

        &:after {
            content: "\e904";
            font-family: $font_icon;
            font-size: 3rem;
            line-height: 3rem;
            color: rgba(#FFF, 0.8);
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            text-shadow: 0px 2px 4px rgba(#000, 0.4);
        }

        &__title {
            color: #FFF;
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            font-weight: $font_black;
            font-style: italic;
            font-size: 1.5rem;
            text-shadow: 0px 2px 4px rgba(#000, 0.4);

            @media(max-width: 575px) {
                font-size: 1.3rem;    
            }
        }

        &:hover:after {
            color: #FFF;
        }
    }
}