.img-box {
    &__title {
        margin-bottom: 12px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__img {
        margin: 5px 0 16px;

        img {
            margin-bottom: 5px;
        }
    }

    @media(min-width: 768px) {
        &__align {
            &--right,
            &--left {
            flex-direction: row;
                
                .img-box__img {
                    margin-bottom: 0;

                    img {
                        width: 200px;
                        height: 175px;
                        object-fit: cover;
                    }
                }
                
                .img-box__content {
                    flex: 1;
                }
            }

            &--left {
                .img-box__img {
                    margin-right: 16px;
                }
            }

            &--right {
                .img-box__img {
                    order: 2;
                    margin-left: 16px;
                }

                .img-box__content {
                    order: 1;
                }
            }
        }
    }
}