.list-item {
    margin-bottom: 30px;
    padding-bottom: 30px;

    &__title {
        margin-bottom: 15px;
        font-weight: $font_bold;
    }

    &__image {
        img {
            width: 100%;
            height: 350px;
            border-radius: 4px;
            object-fit: cover;

            @media (max-width: 575px) {
                height: 300px;
            }
        }
    }
}